<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script> -->
</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-controller="detail_pro" ng-controller="userCtrl">

    <div class="container-fluid bg-danger">
        <header class="container col-12 col-sm-12 col-md-12 col-lg-12">
            <nav class="navbar navbar-expand-sm bg-danger navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand col-9 col-sm-2 col-md-2 col-lg-2" href="#!/"><img class="col-12 col-sm-12 col-md-12 col-lg-12" src="image/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    <div class="collapse navbar-collapse col-10 col-sm-11 col-md-10 col-lg-9" id="collapsibleNavbar">
                        <ul class="navbar-nav col-10 col-sm-10 col-md-10 col-lg-12" style="display: flex;justify-content: space-evenly;align-items: center;">
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;">
                                <a class="nav-link" style="border: 1px solid white; border-radius: 10px;" href="#!shop"><i class="fa-solid fa-list"></i> Shop</a>
                            </li>
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;">
                                <button class="nav-link" data-bs-toggle="modal" data-bs-target="#myModal" type="button"><i class="fa-solid fa-location-dot"></i> Chọn tỉnh thành</button>
                                <!-- The Modal -->
                                <div class="modal fade" id="myModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h5 class="modal-title">Chọn tỉnh thành</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Thành phố Hồ chí Minh</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Gia Lai</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Đồng Nai</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Quảng Nam</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Bình Dương</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Nghệ An</td>
                                                        </tr>
                                                        <tr>
                                                            <td><input type="checkbox"></td>
                                                            <td>Hà Nội</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- Modal footer -->
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Lưu</button>
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;" ng-controller="searchCtrl">
                                <input type="text" class="form-control" ng-model="searchText" ng-keydown="searchKeyDown($event)" placeholder="Bạn cần tìm gì....">
                            </li>
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;">
                                <a class="nav-link" href="#"><i class="fa-solid fa-phone"></i> Gọi mua hàng</a>
                            </li>
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;">
                                <a class="nav-link" href="#"><i class="fa-solid fa-truck-fast"></i> Tra cứu đơn hàng</a>
                            </li>
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;">
                                <a class="nav-link" href="#"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
                            </li>
                            <li class="nav-item" style="border-radius: 10px; background-color: #c9c9c929;">
                                <!-- Button to Open the Modal -->
                                <button ng-if="!isLoggedIn" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal">
                                    Đăng nhập
                                </button>
                                <button ng-if="isLoggedIn" type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#accountModal">
                                    Tài khoản
                                </button>
                                <!-- The Modal -->
                                <div class="modal" id="loginModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đăng nhập</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form ng-submit="login()">
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email:</label>
                                                        <input ng-model="loginData.email" type="email" class="form-control" id="email" placeholder="Nhập Email" name="email">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="pwd" class="form-label">Password:</label>
                                                        <input ng-model="loginData.password" type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd">
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="checkbox" name="remember" id="remember">
                                                        <label class="form-check-label" for="remember">Lưu mật khẩu</label>
                                                    </div>
                                                    <button ng-disabled="isLoggedIn" type="submit" class="btn btn-danger">Đăng nhập</button>
                                                    <button ng-disabled="isLoggedIn" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#register">
                                                        Đăng ký ngay
                                                    </button>
                                                </form>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer d-flex justify-content-between">
                                                <img class="bg-danger w-50 rounded-1" src="image/logo.png">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Account modal -->
                                <div class="modal" id="accountModal">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Tài khoản của bạn</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form>
                                                    <h1>xin chào {{ user_login.name }}</h1>
                                                </form>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer d-flex justify-content-between">
                                                <img class="bg-danger w-50 rounded-1" src="image/logo.png">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- Button to Open the Modal -->


                                <!-- The Modal -->
                                <div class="modal" id="register">
                                    <div class="modal-dialog">
                                        <div class="modal-content">

                                            <!-- Modal Header -->
                                            <div class="modal-header">
                                                <h4 class="modal-title">Đăng ký</h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>

                                            <!-- Modal body -->
                                            <div class="modal-body">
                                                <form ng-submit="register()" name="myForm">
                                                    <div class="mb-3">
                                                        <label for="name" class="form-label">Họ và tên:</label>
                                                        <input ng-model="user.name" type="text" class="form-control" id="name" placeholder="Nhập Họ và tên" name="name" required>
                                                        <label ng-show="myForm.name.$invalid" class="text-danger">Vui lòng nhập Họ và Tên</label>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="phone" class="form-label">SĐT:</label>
                                                        <input ng-model="user.phone" type="number" class="form-control" id="phone" placeholder="Nhập Họ và tên" name="phone" required>
                                                        <label ng-show="myForm.phone.$invalid" class="text-danger">Vui lòng nhập Số điện thoại</label>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="email" class="form-label">Email:</label>
                                                        <input ng-model="user.email" type="email" class="form-control" id="email" placeholder="Nhập Email" name="email" required>
                                                        <label ng-show="myForm.email.$invalid" class="text-danger">Vui lòng nhập Email</label>
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="pwd" class="form-label">Password:</label>
                                                        <input ng-model="user.password" type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pass" required>
                                                        <label ng-show="myForm.pass.$invalid" class="text-danger">Vui lòng nhập mật khẩu</label>
                                                    </div>
                                                    <div class="form-check mb-3">
                                                        <input class="form-check-input" type="checkbox" name="remember" id="remember" required>
                                                        <label class="form-check-label" for="remember">Tôi đồng ý điều khoản</label>
                                                    </div>
                                                    <button type="submit" class="btn btn-danger">Đăng ký</button>
                                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#loginModal">
                                                        Quay lại đăng nhập >
                                                    </button>
                                                </form>
                                                <table class="table table-hover">
                                                    <thead>

                                                        <tr style="border-top-width: var(--bs-border-width);">
                                                            <th>ID</th>
                                                            <th>Họ và tên</th>
                                                            <th>SDT</th>
                                                            <th>Email</th>
                                                            <th>pass</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="user in users">
                                                            <td>{{ user.id }}</td>
                                                            <td>{{ user.name }}</td>
                                                            <td>{{ user.phone }}</td>
                                                            <td>{{ user.email }}</td>
                                                            <td>{{ user.password }}</td>
                                                            <td><a style="text-decoration: none;" href="#" ng-click="edit($index)">Sửa</a></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <!-- Modal footer -->
                                            <div class="modal-footer d-flex justify-content-between">
                                                <img class="bg-danger w-50 rounded-1" src="image/logo.png">
                                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>



    <div ng-view></div>



    <!-- footer -->
    <section>
        <!-- Remove the container if you want to extend the Footer to full width. -->
        <div class="container-fluid mt-5">
            <!-- Footer -->
            <footer class="text-center text-lg-start text-white" style="background-color: #ff5151">
                <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: Links -->
                    <section class="">
                        <!--Grid row-->
                        <div class="row">
                            <!--Grid column-->
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <div class="logo_footer" style="width: 390px;">
                                    <img style="width: 100%;" src="image/logo.png">
                                </div>
                                <p>Gọi mua hàng <strong>1800.2097</strong> (7h30 - 22h00)</p>
                                <p>Gọi khiếu nại <strong>1800.2063</strong> (8h00 - 21h30)</p>
                                <p>Gọi bảo hành <strong>1800.2064</strong> (8h00 - 21h00)</p>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h6 class="text-uppercase">Danh mục</h6>

                                <ul class="list-unstyled mb-0" style="font-size: 11px;">
                                    <li ng-repeat="category in categories">
                                        <a href="#!" class="text-white">{{ category.name }}</a>
                                    </li>

                                </ul>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h6 class="text-uppercase">Danh mục</h6>

                                <ul class="list-unstyled mb-0" style="font-size: 11px;">
                                    <li ng-repeat="category in categories">
                                        <a href="#!" class="text-white">{{ category.name }}</a>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

                                <!-- Facebook -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!" role="button"><i class="fab fa-facebook-f"></i
                              ></a>

                                <!-- Twitter -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!" role="button"><i class="fab fa-twitter"></i
                              ></a>

                                <!-- Google -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="#!" role="button"><i class="fab fa-google"></i
                              ></a>

                                <!-- Instagram -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!" role="button"><i class="fab fa-instagram"></i
                              ></a>

                                <!-- Linkedin -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!" role="button"><i class="fab fa-linkedin-in"></i
                              ></a>
                                <!-- Github -->
                                <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!" role="button"><i class="fab fa-github"></i
                              ></a>
                            </div>
                        </div>
                        <!--Grid row-->
                    </section>
                    <!-- Section: Links -->

                    <hr class="mb-4" />

                    <!-- Section: CTA -->
                    <section class="">
                        <p class="d-flex justify-content-center align-items-center">
                            <span class="me-3">Đăng ký</span>
                            <button type="button" class="btn btn-outline-light btn-rounded">
                        Đăng nhâp
                        </button>
                        </p>
                    </section>
                    <!-- Section: CTA -->


                </div>
                <!-- Grid container -->

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                    © 2020 Copyright:
                    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a
  >
</div>
<!-- Copyright -->
</footer>
<!-- Footer -->
</div>
<!-- End of .container -->
</section>
<script>
    let items = document.querySelectorAll('#recipeCarousel .carousel-item')

    items.forEach((el) => {
        const minPerSlide = 4
        let next = el.nextElementSibling
        for (var i = 1; i < minPerSlide; i++) {
            if (!next) {
                // wrap carousel by using first child
                next = items[0]
            }
            let cloneChild = next.cloneNode(true)
            el.appendChild(cloneChild.children[0])
            next = next.nextElementSibling
        }
})
</script>
<script>

        var app = angular.module('myApp', ["ngRoute"]);
        

        app.controller('myCtrl', function($scope, $http, $location) {


            
                $scope.dk = "name"; // Giá trị khởi đầu là sắp xếp theo giá từ cao đến thấp
                $scope.change_dk = (data)=>{
                    $scope.cate = data;
                }
                // category
                $scope.categories = [];
                $http.get("http://localhost:3000/categories").then(function(response) {
                    $scope.categories = response.data;
                    console.log("Số lượng category:", $scope.categories);
                }, function(response) {
                    alert("Lỗi category: " + response.statusText);
                });
                // banner
                $scope.banners = [];
                $http.get("http://localhost:3000/banner").then(function(response) {
                    $scope.banners = response.data;
                    console.log("Số lượng banner:", $scope.banners);
                }, function(response) {
                    alert("Lỗi banner: " + response.statusText);
                });
                // banner 1
                $scope.banners1 = [];
                $http.get("http://localhost:3000/banner1").then(function(response) {
                    $scope.banners1 = response.data;
                    console.log("Số lượng banner 1:", $scope.banners1);
                }, function(response) {
                    alert("Lỗi banner 1: " + response.statusText);
                });
                // product
                $scope.products = [];
                $http.get("http://localhost:3000/products").then(function(response) {
                    $scope.products = response.data;
                    console.log("Số lượng sản phẩm:", $scope.products);
                }, function(response) {
                    alert("Lỗi lấy danh sách sản phẩm : " + response.statusText);
                });
                // banner 2 
                $scope.banners2 = [];
                $http.get("http://localhost:3000/banner2").then(function(response) {
                    $scope.banners2 = response.data;
                    console.log("Số lượng banner 2:", $scope.banners2);
                }, function(response) {
                    alert("Lỗi lấy danh sách banner 2 : " + response.statusText);
                });
                // banner pay
                $scope.banner_pays = [];
                $http.get("http://localhost:3000/banner_pay").then(function(response) {
                    $scope.banner_pays = response.data;
                    console.log("Số lượng banner pay:", $scope.banner_pays);
                }, function(response) {
                    alert("Lỗi lấy danh sách banner pay : " + response.statusText);
                });
                // banner brand
                $scope.banner_brands = [];
                $http.get("http://localhost:3000/banner_brand").then(function(response) {
                    $scope.banner_brands = response.data;
                    console.log("Số lượng banner brand:", $scope.banner_brands);
                }, function(response) {
                    alert("Lỗi lấy danh sách banner brand : " + response.statusText);
                });
                // accessory 
                $scope.accessorys = [];
                $http.get("http://localhost:3000/accessory").then(function(response) {
                    $scope.accessorys = response.data;
                    console.log("Số lượng phụ kiện:", $scope.accessorys);
                }, function(response) {
                    alert("Lỗi lấy danh sách phụ kiện : " + response.statusText);
                });
                // news 
                $scope.news = [];
                $http.get("http://localhost:3000/news").then(function(response) {
                    $scope.news = response.data;
                    console.log("Số lượng news:", $scope.news);
                }, function(response) {
                    alert("Lỗi lấy danh sách news : " + response.statusText);
                });
                $scope.users = [];

                // user
                $http.get("http://localhost:3000/users").then(function(response) {
                    $scope.users = response.data;
                    console.log("Số lượng users:", $scope.users);
                }, function(response) {
                    alert("Lỗi lấy danh sách users : " + response.statusText);
                });

                // Hàm để thêm mới user
                $scope.register = function() { 
                    var newId = ($scope.users.length + 1); 
                    $scope.user.id = newId;
                    $http.post("http://localhost:3000/users", $scope.user).then(function(response) {
                        // Nếu gửi thành công, thêm user vào danh sách hiển thị
                        $scope.users.push(response.data);
                        $scope.user = {};
                        console.log("Số lượng users sau khi thêm:", $scope.users.length);
                    }, function(response) {
                        // Xử lý lỗi nếu gặp phải
                        alert("Lỗi khi thêm user: " + response.statusText);
                    });
                };
                // hàm đăng nhập 
                // $scope.loginData = {};
                // console.log($scope.loginData);
                

                    // Function để xử lý việc đăng nhập thành công
                    
                $scope.login = function(){
                    
                    $http.get("http://localhost:3000/users").then(function(response) {
                        $scope.users = response.data;
                        let check = false;
                        $scope.isLoggedIn = false;
                        $scope.users.forEach(user => {
                            if (user.email === $scope.loginData.email) {
                                check = true;
                                $scope.isLoggedIn = true;
                                $scope.user_login = user;
                                // alert("Chào mừng " + user.name + " đã trở lại");
                                $location.path('/');
                            } 
                        })
                        if (!check) {
                            alert("Tài khoản hoặc mật khẩu không chính xác");
                        }
                        
                    }, function(response) {
                        // Xử lý lỗi nếu gặp phải khi gửi yêu cầu đến server
                        alert("Lỗi khi thực hiện đăng nhập: " + response.statusText);
                    });
                }

        }   );
    
        // route
        app.config(function($routeProvider) {
            $routeProvider
                .when("/", {
                    templateUrl: "asm1.html"
                })
                .when("/detail/laptop/:id", {
                    templateUrl: "detail.html",
                    controller: 'detail_pro',
                    controllerAs: 'detail'
                })
                .when("/shop", {
                    templateUrl: "shop.html",
                })
                .otherwise({
                    redirectTo: "/"
                })
        });
        app.controller('searchCtrl', function($scope, $rootScope, $location) {
            $scope.searchKeyDown = function(event) {

                if (event.keyCode === 13) { // Kiểm tra xem phím nhấn có phải là Enter không
                    $rootScope.search_data = $scope.searchText
                    // alert($scope.searchText);
                   $location.path('/shop')
                }
                
            };
        });
        app.controller("detail_pro", function($routeParams, $scope, $http) {
            this.id = $routeParams.id;
            $scope.id = this.id;
            $scope.detais = [];
            // console.log(this.id);
                $http.get("http://localhost:3000/products").then(function(response) {
                    $scope.detais = response.data;
                    
                    $scope.detais.forEach(product => {
                        if($scope.id == product.id){
                            $scope.product_detail = product
                        }
                    });
                    console.log("detail", product_detail);
                }, function(response) {
                    alert("Lỗi lấy detail : " + response.statusText);
                });
        });
       


        // app.controller("registerCtrl",function($scope){
           

        // })
        
    </script>

  

    <script src="javascript/muti_item_carosel.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="javascript/product.js"></script> -->
</body>

</html>